body {
    background-color: rgb(244, 236, 229);
}

.btn-brown {
    background-color:rgb(211, 187, 165);
    color: #FFF;
}

.btn-brown:hover{
    background-color:rgb(199, 173, 148);
    color: #FFF;}

.link-info{
    color: rgb(214, 114, 89)
}

.link-info:hover{
    color: rgb(213, 107, 81)
}

