body {
    background-color: rgb(244, 236, 229);
    color: #3f3831;
}

.btn-brown {
    background-color:rgb(211, 187, 165);
    color: #FFF;
}

.btn-brown:hover{
    background-color:rgb(170, 145, 121);
    color: #FFF;}

.link-info{
    color: rgb(214, 114, 89)
}

.link-info:hover{
    color: rgb(213, 107, 81)
}

.navbar-brand {
    color: #3f3831
}