{% if  category_expenses %}
      <!--CHART--> 
<div class='row mt-5'>
    <div class="col text-center">
        <button id='CategoryBtn' class="btn btn-brown btn-lg" tabindex="-1" role="button" aria-disabled="true" onclick="toggleCategories()">Expenses by Category</button>
    </div>
    <div class="col text-center">
        <button id='MonthsBtn' class="btn btn-brown btn-lg" tabindex="-1" role="button" aria-disabled="true" onclick="toggleGraphChart()">Expenses by Months</button>
    </div>
</div>
      
  <div class="container justing-content-center mt-5">
    <div class="row">
        <div class="col-6">
            <div class="chart-container" id="pie-chart" style="position: relative; height:40vh; width:40vw; display:none;">
                <canvas id="myChart"></canvas>
            </div>
            
                <script>
                        function getColors(length){
                        let pallet = ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", 
                                    "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", 
                                    "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", 
                                    "#AAAAAA"];
                        let colors = [];

                        for(let i = 0; i < length; i++) {
                        colors.push(pallet[i % (pallet.length - 1)]);
                        }

                        return colors;
                    }

                    function toggleCategories() {
                        var x = document.getElementById("pie-chart");
                        if (x.style.display === "none") {
                            x.style.display = "";
                            
                            var graph = document.getElementById("graph-chart");
                            if (graph.style.display != "") {
                                window.scrollBy(0,200); 
                            }
                            
                        } else {
                            x.style.display = "none";
                        }
                    }
                    
                    var categories = {{ categories |safe }}; 
                    var sums =  {{ sums|safe }}; 
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: categories,
                            datasets: [{
                                label: '',
                                data: sums,
                                borderWidth: 1,
                                backgroundColor: getColors(categories.length)    
                            }]
                        },
                    });
                    
                </script>
            </div>

            <div class='col-6'>
            <div class="chart-container" id="graph-chart" style="position: relative; height:40vh; width:40vw; display:none;">
                <canvas id="myChart2"></canvas>
            </div>
        
                <script>
                    function toggleGraphChart() {
                        var x = document.getElementById("graph-chart");
                        if (x.style.display === "none") {
                            x.style.display = "";
                            window.scrollBy(0,200);
                        } else {
                            x.style.display = "none";
                        }
                    }

                    var months = {{ months|safe }}; 
                    var amounts =  {{ amounts|safe }}; 
                    var ctx = document.getElementById('myChart2');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: months,
                            datasets: [{
                                label: '',
                                data: amounts,
                                borderWidth: 1,
                                backgroundColor: getColors(months.length)
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div> 
{% endif %} 