{% extends 'base.html' %}
{% block title %} <title>MeTrack</title> {% endblock title %}

{% block content %}
<div class="row text-dark"  style="background-color: rgb(230, 217, 205);">
    <div class="container p-4 text-center">
        <h1 class="fw-bold">MeTrack</h1>
        <hr>
        <p class="'lead"> With so many expense trackers out there, another one is defintely needed!</p>
        {% if current_user.is_authenticated %}
        <a href='{{url_for("profile")}}' class="btn btn-brown">Go to profile</a>
        {% else %}
        <a href='{{url_for("register")}}' class="btn btn-brown">Register now!</a>
        {% endif %}
    </div>
</div>
{% endblock content %}