{% extends 'base.html' %}

{% block content %}
<!-- Add Expense Form -->
<section class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="expense-form" style="background-color:rgb(231, 216, 201)">
        <form action="profile" method="POST" class="mt-5 p-4 rounded shadow">
          <h4 class="text-dark text-center">Add Expense</h4>
            {{ form.csrf_token }}
          <div class="row">
            <div class="mb-3 col-md-6">
              {{ form.name.label }}
              {{ form.name(class="form-control form-control-sm mb-2") }}
            </div>
            <div class="mb-3 col-md-6">
              {{ form.cost.label }}
              {{ form.cost(class="form-control form-control-sm mb-2") }}
            </div>

            <div class="mb-3 col-md-6">
              {{ form.category.label }}
              {{ form.category(class="form-control form-control-sm mb-2") }}
              <ul>
                {% for error in form.category.errors %}
                  <li style="color:red;">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>

            <div class="mb-3 col-md-6">
              {{form.date.label}}
              {{form.date(class="form-control form-control-sm mb-2")}}
            </div> 

            <div class="col-12 text-center">
              {{ form.submit(class='btn btn-brown')}} 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>  
</section>


{% include 'table.html' %}

{% include 'graphs.html' %}

{% endblock content %}






